.App {
  text-align: center;
  font-family: sans-serif;
  margin-top: 30px;
}

.profile-card {
  background-color: #862c2c;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
}

.socials a {
  margin: 10px;
  text-decoration: none;
  color: #0077b5;
}
